      </article>
    <footer>
      {{ if .IsHome }}
        <ul class="tag-list">
          {{ if ne (len $.Site.Taxonomies.tags) 0 }}
              {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
                {{ $tagCount := len $taxonomy.Pages }}
                  <li>
                    <a href="{{ $.Site.BaseURL }}/tags/{{ $name | urlize }}">
                      # {{ $name }} ({{ $tagCount }})
                    </a>
                  </li>
              {{ end }}
          {{ end }}
        </ul>
      {{ else}}
        <ul class="tag-list">
          {{ range (.GetTerms "tags") }}
              <li><a href="{{ .Permalink }}"># {{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </footer>
    </main>
    <script>
      const $highlights = document.querySelectorAll('.highlight');

      if ($highlights.length > 0) {
        $highlights.forEach($highlight => {
          const $copy = document.createElement('button');
          $copy.classList.add('btn', 'btn-primary', 'copy');
          $copy.textContent = 'Copy to clipboard';
          $highlight.appendChild($copy);
        });

        document.addEventListener('click', event => {
          if (event.target.classList.contains('copy')) {
            const originalTextContent = event.target.textContent;
            const snippet = event.target.closest('.highlight').querySelector('code').textContent;

            navigator.clipboard.writeText(snippet);
            event.target.textContent = 'Copied!';

            setTimeout(() => {
              event.target.textContent = originalTextContent;
            }, 3000);
          }
        });
      }
    </script>
  </body>
</html>
