<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ if eq .Kind "term" }}#{{ end }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ $styles := resources.Get "scss/styles.scss" | toCSS (dict "outputStyle" "compressed") | minify }}
    <style>{{ $styles.Content | safeCSS }}</style>
  </head>

  {{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
  <body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">
    <nav id="site-navigation" class="main-navigation">
      <ul>
        <li><a href="{{ .Site.BaseURL }}tags/" title="Tags">#Tags</a></li>
      </ul>
      <ul id="menu-top" class="menu">
        <li><a href="https://ricard.blog/" title="Ricard Torres Blog">Blog</a></li>
        <li><a href="https://ricard.dev/" title="Ricard Torres dev">Dev</a></li>
        <li><a href="https://ricard.social/@ricard" title="@ricard@ricard.social">Fediverse</a></li>
      </ul>
    </nav>
    <main>
      <header>
          {{ if .IsHome }}
          <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
          <hr>
          {{ else }}
              <p class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
              <hr>
              <h1>
                {{ if eq .Kind "term" }}# {{ end }}{{ .Title }}
              </h1>
          {{ end }}
      </header>
      <article>
